body {
  margin: 0;
}

#app {
  display: flex;
  flex-flow: row-reverse;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 3px black;
}

.container {
  display: inline-flex;
  padding: 5px;
  z-index: 2;
}

#center {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%
}

#left {
  justify-content: flex-start;
  flex-direction: column;
  width: 30%
}

#event-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
  z-index: 1;
}
