body {
  margin: 0;
}

#app {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  font-family: sans-serif;
  color: white;
}

.container {
  display: inline-flex;
  padding: 5px;
  z-index: 2;
}

.detail {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.4)
}

#center {
  flex-direction: column;
  width: auto;
}

#left {
  flex-direction: column;
  width: auto;
}

label {
  text-shadow: 0 0 10px black;
}

#event-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
  z-index: 1;
}
